<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">  
      
<head>
	<title>소설 등록</title>
   <link rel="stylesheet" href="/css/novels/novel-write.css" />     
</head>



<div layout:fragment="content"  class="container">
    <h1>소설 등록</h1>


    <!-- 유효성 검증 에러 메시지 -->
    <div class="error-messages" th:if="${errors !=null}">
      <ul>
        <li th:each="error : ${errors}" th:text="${error.defaultMessage}"></li>
      </ul>
    </div>

    <!-- 소설 등록 폼 -->
    <form action="/novels" method="post" enctype="multipart/form-data">
      <!-- CSRF 토큰 -->
      <input type="hidden" name="_csrf" th:value="${_csrf.token}" >

      <!-- 제목 -->
      <div>
        <label for="title">소설 제목: </label>
        <input type="text" id="title" name="title" th:value="${novelDTO.title}" maxlength="45" required>
      </div>

      <!-- 작가 -->
      <div>
        <label for="author">작가: </label>
        <input type="text" id="author" name="author" maxlength="20" required>
      </div>


      <!-- 카테고리 -->
      <div>
        <label for="category">카테고리: </label>
        <input type="text" id="category" name="category" th:value="${novelDTO.category}" maxlength="45" required>
      </div>

      <!-- 설명(줄거리) -->
      <div>
        <label for="description">줄거리: </label>
        <textarea id="description" name="description" th:text="${novelDTO.description}" required  ></textarea>
      </div>


      <!-- 유료 여부 -->
 		<div class="mt-2">
		    <label for="paid">유료 여부: </label>
		  		<select id="paid" name="paid" required>
				  <option value="false" th:selected="!${novelDTO.paid}">무료</option>
				  <option value="true" th:selected="${novelDTO.paid}">유료</option>
				</select>
		</div>


       <div>
		  <label for="coverImage">표지 이미지: </label>
		  <input type="file" id="coverImage" name="coverImage"  onchange="previewImage(event)" required>
 	  </div>


      <!-- 이미지 미리보기 -->
      <div>
        <img id="preview" src="" alt="Image Preview">
      </div>


      <!-- 버튼 -->
      <div class="form-actions" style="margin-top: 100px">
        <button type="submit" class="btn" >등록</button>
        <a href="/novels" class="btn-default">취소</a>
      </div>
      
      
    </form>
    
    <!-- ckeditor 사용 -->
    <script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script> 
  	<script  th:src="@{/js/novels/novel-write.js}"></script>       
</div>
  

</html>


