<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" th:href="@{/css/headerMenu.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/qna_edit_form.css}" />
	<meta charset="UTF-8">
	<title>Q&A 수정</title>
</head>
<body>
	<!-- 헤더 추가 -->
    <div th:replace="~{fragments/header :: header}"></div>
    
    <div class="container">
        <h1>질문 수정</h1>
        <form action="/qna/update" method="post">
            <input type="hidden" name="id" th:value="${qna.id}">

            <label for="title">제목</label>
            <input type="text" id="title" name="title" th:value="${qna.title}" required>

            <label for="content">내용</label>
            <textarea id="content" name="content" rows="5" required th:text="${qna.content}"></textarea>

            <label for="author">작성자</label>
            <input type="text" id="author" name="author" th:value="${qna.author}" required>

            <button type="submit">수정</button>
        </form>
    </div>
    
    <!-- 푸터 추가 -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
